{% extends 'base.html'%} {% block content%}

<div class="jumbotron" style="background-color: #343a40; background-size: 50%">
  <div class="container for-about">
    <h1 class="text-white">About Us</h1>
    <hr style="color: rgb(255, 255, 255)" />
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <br />
      <br />
      <br />

      <img
        id=""
        class="d-block w-100 rounded"
        src="../static/images/About.jpg"
        alt="First slide"
      />
    </div>
    <div class="col">
      <br />
      <br />
      <br />
      <h1 class="text-dark">Who we are</h1>

      <p>
        Established in 2022, we pride ourselves on finding authentic coffee,
        ethically sourced. Our founders are passionate about bringing together
        asthetic, flavor and community.
      </p>
    </div>
  </div>
</div>
<br />
<br />
<section>
  <h3 class="text-center text-dark">Meet Our Team</h3>
  <h1 class="text-center text-dark">Behind the Taste</h1>

  <br />
  <br />

  <div class="container">
    <div class="row">
      <div class="col">
        <img
          id=""
          class="d-block w-100 rounded"
          src="../static/images/Teams/Long.jpg"
          alt="First slide"
        />
        <h1 class="text-dark">Long Lu</h1>
        <i class="bi bi-github text-center"></i>
        <i class="bi bi-linkedin text-center"></i>
      </div>
      <div class="col">
        <img
          id=""
          class="d-block w-100 rounded"
          src="../static/images/Teams/Trinity.jpg"
          alt="First slide"
        />
        <h1 class="text-dark">Trinity Fore</h1>
      </div>
      <div class="col">
        <img
          id=""
          class="d-block w-100 rounded"
          src="../static/images/Teams/Elvis.jpg"
          alt="First slide"
        />
        <h1 class="text-dark">Elvis Espinoza</h1>
      </div>

      <div class="col">
        <img
          id=""
          class="d-block w-100 rounded"
          src="../static/images/Teams//Papa Diop.jpg"
          alt="First slide"
        />

        <h1 class="text-dark">Papa Diop</h1>
      </div>
    </div>
  </div>
</section>

{% endblock %}
