{% extends 'base.html' %}{% block content %}
<div class="container">
  <section class="row">
    <div class="col-12">
      <div class="none">
        <h1 class="none_title">No products found</h1>
        <p class="none_adv">Try a different search</p>
      </div>
    </div>
  </section>

  <section class="row home_lay">
    <div class="col-md-12">
      <h3 class="none_products__options">Theres more options available!</h3>
    </div>
    <div class="col-12">
      <div class="home_fav__products__slick">
        {% for product in products %}
        <div class="home_fav__products__slick__slide">
          <a href="{% url 'detail' product.id %}">
            <img src="{{product.image_url}}" alt="" class="img_resp" />
            <div class="home_fav__products__slick__slide__cont">
              <p class="home_fav__products__slick__slide__cont__name">
                {{product.name}}
              </p>
              <p class="home_fav__products__slick__slide__cont__price">
                {{product.price}}
              </p>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</div>
{% endblock%}
