* {
    margin:0;
    padding:0;
    }


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

footer {
  padding-top: 0;
}

a,
.nav-link {
  color: #2f398e;
  font: 12px;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
}



a, .nav-link {
    color: #2F398E;
    font: 12px ;
    font-weight: 500;
    font-family: 'Oleo Script', cursive;


    
}

.PHOENIX{
    color:#e02b20 ;

}

.ROSTER{
    color: #2F398E;
}


nav {

    border-bottom:1px solid rgb(235, 235, 235);
    line-height: 1.7em;
    font-weight: 500;

}

#login{
    border: 1px solid red;
    border-radius: 5%;
    font-family: 'Roboto Condensed', sans-serif;

}

#signup{
    background-color: #e02b20;
    border: 1px solid #2F398E;
    border-radius: 5%;
    font-family: 'Roboto Condensed', sans-serif;
    float: left;
    margin-left: 10px;

}

.navbar-brand{
    
    font: 12px ;
    font-weight: 200;
    font-family: 'Oleo Script', cursive;
}

.navbar-toggler{
    border: 1px solid rgb(0, 0, 0);
    color: black;
}

.text-hover {
    position: absolute;
    
    bottom: 20px;
    left: -15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 250px;
   
    text-align: center;
}

#text-hover1{
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: normal;
    font-size: 40px;
    color:#e02b20 ;
    font-weight: 200;
  
}
.COFFEE{
    color: #2F398E;

}

@media only screen and (max-width: 600px) {
    body {
      background-color: rgb(255, 255, 255);
    }
    .text-hover {
        position: absolute;
        
        bottom: 20px;
        left: -15%;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 250px;
       
        text-align: center;
    }
    
    #text-hover1{
        font-family: 'Roboto Condensed', sans-serif;
        letter-spacing: normal;
        font-size: 20px;
        color:#e02b20 ;
        font-weight: 200;
      
    }
  }



  #shopcoffee{
    font-family: 'Roboto Condensed', sans-serif;
 
  }

  h1{
      text-align: center;
      color:red;
      font-family: 'Roboto Condensed', sans-serif;

  }
  
  .p{
      text-align: center;
  }



.card {
    width: fit-content
}

.card-body {
    width: fit-content
}



.img-thumbnail {
    border: 1px solid #ffffff;
}

.card {
    box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
    border-radius: 5px;
    padding-bottom: 10px
}

.card-title {
    font-size: 14px;
    font-weight: 900
}

.card-text {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 500
}

img, #images {
    background-color: rgba(84,84,84,.29);
 
   
}

h5{
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: .015cm;
    position: relative;
    font-weight: 100;
    font-family: 'Oleo Script', cursive;    
    white-space:nowrap;
    text-decoration: underline;    
    text-decoration-thickness: 2px;

}



h3{
    font-family: 'Roboto Condensed', sans-serif;

}

.carousel-caption{
    display: flex;
    justify-content: center;
    top: 40%;
}

.but{
    background-color: transparent;
    background-repeat: no-repeat;
    border: 1px solid white;
    outline: none;
    font-size: small;
    font-family: 'Oleo Script', cursive;  
    
    
}

p{
    font-family: 'Roboto Condensed', sans-serif;
  
}


#wrapper {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
  }

  @import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

* {
    margin:0;
    padding:0
}
a,a:hover{
  text-decoration: none;
}
.myform-area{
  overflow: hidden;
  padding: 60px 0;
  background: #f4fffe;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}
.myform-area .form-area{
  position: relative;
  background: rgb(204, 55, 67);
  width: 100%;
  height: 400px;
  overflow: hidden;
  box-shadow: 0 0 40px 0 #e1e1e1;
}

.myform-area .form-area .form-content,
.myform-area .form-area .form-input{
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
    box-sizing: border-box;
}

.myform-area .form-area .form-content{
  width: 50%;
  padding: 40px 30px;
}

.myform-area .form-area .form-content h2{
  color: #fff;
}
.myform-area .form-area .form-content p{
  color: #fff;
}
.myform-area .form-area .form-content ul{
  margin-top: 50px;
}

.myform-area .form-area .form-content ul li{
  display: inline-block;
  margin-right: 10px;
}
.myform-area .form-area .form-content a i{
    margin-right: 10px;
}

.myform-area .form-area .form-content .facebook{
  display: block;
  padding: 10px 20px;
  background: #3B579D;
  color: #fff;
  font-size: 15px;
  text-transform: capitalize;
  border-radius: 4px;
  border: 1px solid #3B579D;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.myform-area .form-area .form-content .facebook:hover,
.myform-area .form-area .form-content .facebook:focus{
    background: transparent;
}

.myform-area .form-area .form-content .twitter{
  display: block;
   padding: 10px 20px;
   background: #00ACED;
   color: #fff;
   font-size: 15px;
   text-transform: capitalize;
   border-radius: 4px;
   border: 1px solid #00ACED;
   -webkit-transition: all .5s;
   -o-transition: all .5s;
   transition: all .5s;
}

.myform-area .form-area .form-content .twitter:hover,
.myform-area .form-area .form-content .twitter:focus{
    background: transparent;
}
.myform-area .form-area .form-input{
  background-color: white;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 40px 0 #e1e1e1;
}
.myform-area .form-area .form-input{
    width: 50%;
    background: #fff;
    padding: 40px 30px;
}

.myform-area .form-area .form-input h2{
  margin-bottom: 20px;
    color: #07315B;
}

.myform-area .form-area .form-input input{
    position: relative;
    height: 60px;
    padding: 20px 0;
}
.myform-area .form-area .form-input textarea{
    height: 120px;
    padding: 20px 0;
}


#wrapper {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
  }

  .jumbotron {
    background-image: url("../img/jumbotron_bg.jpg");
    background-size: cover;
  }

 #carousel2{
     text-align: right;

 }

.myform-area .form-area .form-input input,
.myform-area .form-area .form-input textarea{
    text-transform: capitalize;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-bottom: 2px solid #e1e1e1;
    color: #07315B;
}
.myform-area .form-area .form-input form .form-group{
    position: relative;
}
.myform-area .form-area .form-input form .form-group label{
    position: absolute;
    text-transform: capitalize;
    top: 20px;
    left: 0;
    pointer-events: none;
    font-size: 14px;
    color: #595959;
    margin-bottom: 0;
    transition: all .6s;
}
.myform-area .form-area .form-input input:focus ~ label,
.myform-area .form-area .form-input textarea:focus ~ label,
.myform-area .form-area .form-input input:valid ~ label,
.myform-area .form-area .form-input textarea:valid ~ label{
    top: -5px;
    opacity: 0;
    left: 0;
    color: rgb(204, 55, 67);
    font-size: 12px;
    color: #07315B;
    font-weight: bold;
}
.myform-area .form-area .form-input input:focus,
.myform-area .form-area .form-input textarea:focus,
.myform-area .form-area .form-input input:valid,
.myform-area .form-area .form-input textarea:valid{
    border-bottom: 2px solid rgb(204, 55, 67);
}
.myform-area .form-area .form-text{
    margin-top: 30px;
}
.myform-area .form-area .form-text span a{
    color: rgb(204, 55, 67);
}
.myform-area .form-area .myform-button{
    margin-top: 30px;
}
.myform-area .form-area .myform-button .myform-btn{
    width: 100%;
    height: 50px;
    font-size: 17px;
    background: rgb(204, 55, 67);
    border: none;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}


.myform-area .form-area .myform-button .myform-btn:hover{
    background: #07315B;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

