.home_lay {
  padding-top: 50px;
  padding-bottom: 50px; }

.home_fav__products__heading {
  text-align: center; }

.home_fav__products__slick__slide {
  padding: 0 16px; }
  .home_fav__products__slick__slide__cont {
    box-shadow: 1px 1px 2px #00000080;
    background: #a7daf1;
    text-align: center;
    border-radius: 6px;
    padding: 12px; }
    .home_fav__products__slick__slide__cont__name {
      color: #ffffff; }

.img_resp {
  max-width: 100%;
  margin: auto;
  display: block; }

.ali {
  display: flex; }
  .ali_cnt {
    align-items: center; }

a {
  transition: 0.3s all ease-in-out; }

.hidden {
  display: none; }

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  transition: 0.8s all ease-in-out;
  z-index: 1;
  opacity: 0;
  background-color: #000;
  height: 100%;
  width: 100%;
  right: 0;
  visibility: hidden; }
  .overlay_show {
    opacity: 0.6;
    visibility: visible; }

.search {
  z-index: 1;
  position: fixed;
  border-radius: 6px;
  padding: 25px;
  background-position: center;
  left: 50%;
  top: 30%;
  background-size: cover;
  width: 40%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 2px #00000080; }
  .search_low {
    display: flex;
    border-radius: 6px;
    box-shadow: 1px 1px 2px #00000080;
    align-items: center;
    flex-wrap: nowrap; }
    .search_low__imp {
      width: 100%;
      padding: 8px;
      border-radius: 5px 0 5px;
      border: none;
      outline: none; }
    .search_low__btn {
      background-color: #68686885;
      width: 15%;
      transition: 0.3s all ease-in-out;
      border-radius: 0 5px 5px 0;
      padding: 8px;
      border: none; }
      .search_low__btn:hover {
        background: rgba(66, 66, 66, 0.521569);
        color: #262626; }
  .search_low {
    display: none; }

.pagination {
  display: block;
  margin: auto;
  text-align: center;
  justify-content: center;
  padding: 20px; }
  .pagination_circles {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
  .pagination_current {
    padding: 10px 15px; }
  .pagination label {
    width: 35px;
    height: 35px;
    margin: 5px 10px;
    color: #000;
    text-align: center;
    border: 1px solid #a7daf1;
    transition: 0.3s all ease-in-out;
    line-height: 35px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    font-weight: bold; }
    .pagination label:hover {
      background: #a7daf1; }
  .pagination span {
    border-radius: 6px;
    background-color: #ffffff; }

.products {
  display: flex;
  text-align: center;
  margin: 14px 0; }
  @media (max-width: 767px) {
    .products {
      margin-bottom: 14px; } }
  .products_link {
    color: #000;
    text-decoration: none; }
    .products_link:hover {
      text-decoration: none; }
      .products_link:hover h4 {
        color: #68686885; }
  .products_wrapper {
    border-radius: 6px;
    box-shadow: 1px 1px 2px #00000080; }
    .products_wrapper__img > img {
      border-radius: 6px; }
    .products_wrapper__name {
      transition: 0.3s all ease-in-out;
      padding: 12px;
      background: #a7daf1;
      color: #ffffff;
      text-shadow: 0.5px 0.5px 1px #0000004d; }
    .products_wrapper__content__text {
      padding: 12px; }
    .products_wrapper__content__price {
      padding-bottom: 20px; }

.product_img {
  box-shadow: 1px 1px 2px #00000080;
  border-radius: 6px; }
  .product_img img {
    border-radius: 6px;
    margin-top: 10px; }

.product_content {
  vertical-align: middle;
  max-width: 100%; }
  @media (max-width: 768px) {
    .product_content {
      padding-top: 15px;
      text-align: center; } }
  .product_content p {
    padding: 15px 0;
    border-bottom: 1px solid #737373; }
    .product_content p:last-of-type {
      border-bottom: none; }
  .product_content__price {
    color: #36e726;
    font-size: 1.2rem; }
  .product_content__add {
    flex-wrap: nowrap;
    display: flex; }
    @media (max-width: 767px) {
      .product_content__add {
        justify-content: center; } }
    .product_content__add input {
      border-radius: 5px 0 0 5px;
      outline: none;
      text-align: center;
      border: 1px solid #a7daf1; }
    .product_content__add button {
      border-radius: 0 5px 5px 0; }

.button {
  border-radius: 6px;
  transition: 0.3s all ease-in-out;
  padding: 10px 20px; }
  .button:hover {
    transform: scale(0.95); }
  .button_add {
    background-color: #68686885;
    color: #000; }
    .button_add:hover {
      background: rgba(66, 66, 66, 0.521569);
      color: #262626; }

.none {
  text-align: center; }
  .none_adv {
    font-size: 1.3rem; }

/*# sourceMappingURL=styles.css.map */