// colors
$primary-color: #68686885;
$secondary-color: #a7daf1;
$third-color: #e29999;
$white-color: #ffffff;
$green-color: #36e726;
$off-white-color: #f2f2f2;
$black-color: #000;
$txt-white: #61abf0;
$main-panel: darken($off-white-color, 5%);

// util
$pan-shadow: 1px 1px 2px #00000080;
$txt-shadow: 0.5px 0.5px 1px #0000004d;
$fast-transition: 0.3s all ease-in-out;
$slow-transition: 0.8s all ease-in-out;
$border-radius: 6px;

// attempting to use breakpoints
@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $class == sm {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $class == md {
    @media (max-width: 992px) {
      @content;
    }
  } @else if $class == lg {
    @media (max-width: 1200px) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

// .home_fav__products {
//   &__heading {
//     text-align: center;
//   }

//   &__slick {
//     &__slide {
//       padding: 0 20px;

//       &__cont {
//         box-shadow: $pan-shadow;
//         text-align: center;
//         background: $secondary-color;
//         padding: 15px;
//         border-radius: $border-radius;

//         &__name {
//           color: $white-color;
//         }
//       }
//     }
//   }
// }
.home {
  &_lay {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &_fav__products {
    &__heading {
      text-align: center;
    }

    &__slick {
      &__slide {
        padding: 0 16px;

        &__cont {
          box-shadow: $pan-shadow;
          background: $secondary-color;
          text-align: center;
          border-radius: $border-radius;
          padding: 12px;
          &__name {
            color: $white-color;
          }
        }
      }
    }
  }
}

.img_resp {
  max-width: 100%;
  margin: auto;
  display: block;
}

.ali {
  display: flex;
  &_cnt {
    align-items: center;
  }
}

a {
  transition: $fast-transition;
}

.hidden {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  transition: $slow-transition;
  z-index: 1;
  opacity: 0;
  background-color: $black-color;
  height: 100%;
  width: 100%;
  right: 0;
  visibility: hidden;

  &_show {
    opacity: 0.6;
    visibility: visible;
  }
}

.search {
  z-index: 1;
  position: fixed;
  border-radius: $border-radius;
  padding: 25px;
  background-position: center;
  left: 50%;
  top: 30%;
  background-size: cover;
  width: 40%;
  transform: translate(-50%, -50%);
  box-shadow: $pan-shadow;

  &_low {
    display: flex;
    border-radius: $border-radius;
    box-shadow: $pan-shadow;
    align-items: center;
    flex-wrap: nowrap;

    &__imp {
      width: 100%;
      padding: 8px;
      border-radius: 5px 0 5px;
      border: none;
      outline: none;
    }

    &__btn {
      background-color: $primary-color;
      width: 15%;
      transition: $fast-transition;
      border-radius: 0 5px 5px 0;
      padding: 8px;
      border: none;

      &:hover {
        background: darken($primary-color, 15%);
        color: lighten($black-color, 15%);
      }
    }
  }

  &_low {
    display: none;
  }
}

.pagination {
  display: block;
  margin: auto;
  text-align: center;
  justify-content: center;
  padding: 20px;

  &_circles {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &_current {
    padding: 10px 15px;
  }

  label {
    width: 35px;
    height: 35px;
    margin: 5px 10px;
    color: $black-color;
    text-align: center;
    border: 1px solid $secondary-color;
    transition: $fast-transition;
    line-height: 35px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    font-weight: bold;

    &:hover {
      background: $secondary-color;
    }
  }

  span {
    border-radius: $border-radius;
    background-color: $white-color;
  }
}

.products {
  display: flex;
  text-align: center;
  margin: 14px 0;

  @include breakpoint(xs) {
    margin-bottom: 14px;
  }

  &_link {
    color: $black-color;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      h4 {
        color: $primary-color;
      }
    }
  }

  &_wrapper {
    border-radius: $border-radius;
    box-shadow: $pan-shadow;

    &__img {
      > img {
        border-radius: $border-radius;
      }
    }

    &__name {
      transition: $fast-transition;
      padding: 12px;
      background: $secondary-color;
      color: $white-color;
      text-shadow: $txt-shadow;
    }

    &__content {
      &__text {
        padding: 12px;
      }

      &__price {
        padding-bottom: 20px;
      }
    }
  }
}

.product {
  &_img {
    box-shadow: $pan-shadow;
    border-radius: $border-radius;

    img {
      border-radius: $border-radius;
      margin-top: 10px;
    }
  }

  &_content {
    vertical-align: middle;
    max-width: 100%;

    @include breakpoint(sm) {
      padding-top: 15px;
      text-align: center;
    }

    p {
      padding: 15px 0;
      border-bottom: 1px solid lighten($black-color, 45%);

      &:last-of-type {
        border-bottom: none;
      }
    }

    &__price {
      color: $green-color;
      font-size: 1.2rem;
    }

    &__add {
      flex-wrap: nowrap;
      display: flex;

      @include breakpoint(xs) {
        justify-content: center;
      }

      input {
        border-radius: 5px 0 0 5px;
        outline: none;
        text-align: center;
        border: 1px solid $secondary-color;
      }

      button {
        border-radius: 0 5px 5px 0;
      }
    }
  }
}

.button {
  border-radius: $border-radius;
  transition: $fast-transition;
  padding: 10px 20px;

  &:hover {
    transform: scale(0.95);
  }

  &_add {
    background-color: $primary-color;
    color: $black-color;

    &:hover {
      background: darken($primary-color, 15%);
      color: lighten($black-color, 15%);
    }
  }
}

.none {
  text-align: center;

  &_adv {
    font-size: 1.3rem;
  }
}
