// colors
$primary-color: #808080;
$secondary-color: #a7daf1;
$third-color: #e29999;
$white-color: #ffffff;
$off-white-color: #f2f2f2;
$black-color: #000;

// some layout-color
$txt-on-white: #61abf0;
$main-background: $white-color;
$main-panel: darken($off-white-color, 5%);

// shadowing
$panel-shadow: 1px 1px 2px #00000080;
$txt-shadow: 0.5px 0.5px 1px #0000004d;

// transition
$fast-transition: 0.3s all ease-in-out;
$slow-transition: 0.8s all ease-in-out;

// bordering
$border-radius: 6px;

// attempting to use breakpoints
@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $class == sm {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $class == md {
    @media (max-width: 992px) {
      @content;
    }
  } @else if $class == lg {
    @media (max-width: 1200px) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

a {
  transition: $fast-transition;
}

.products {
  text-align: center;
  display: flex;
  margin: 15px 0;

  @include breakpoint(xs) {
    margin-bottom: 15px;
  }

  &_main__link {
    text-decoration: none;
    color: $black-color;

    &:hover {
      color: $black-color;
      h3 {
        color: $primary-color;
      }
    }
  }

  &_wrapper {
    border-radius: $border-radius;
    box-shadow: $panel-shadow;

    &__img {
      > img {
        border-radius: $border-radius;
      }
    }

    &__title {
      transition: $fast-transition;
      background: $secondary-color;
      color: $white-color;
      padding: 10px;
      text-shadow: $txt-shadow;
    }

    &__content {
      &__text {
        padding: 10px;
      }

      &__price {
        padding-bottom: 20px;
      }
    }
  }
}
