// colors
$primary-color: #68686885;
$secondary-color: #a7daf1;
$third-color: #e29999;
$white-color: #ffffff;
$off-white-color: #f2f2f2;
$black-color: #000;
$txt-white: #61abf0;
$main-panel: darken($off-white-color, 5%);

// util
$pan-shadow: 1px 1px 2px #00000080;
$txt-shadow: 0.5px 0.5px 1px #0000004d;
$fast-transition: 0.3s all ease-in-out;
$slow-transition: 0.8s all ease-in-out;
$border-radius: 6px;

// attempting to use breakpoints
@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $class == sm {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $class == md {
    @media (max-width: 992px) {
      @content;
    }
  } @else if $class == lg {
    @media (max-width: 1200px) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

.img_responsive {
  max-width: 100%;
  margin: auto;
  display: block;
}

.ali {
  display: flex;
  &_cnt {
    align-items: center;
  }
}

a {
  transition: $fast-transition;
}

.pagination {
  margin: auto;
  text-align: center;
  padding: 20px;
  display: block;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);

  &_circles {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &_links__current {
    padding: 10px 15px;
  }

  label {
    width: 35px;
    height: 35px;
    margin: 5px 10px;
    color: $black-color;
    text-align: center;
    border: 1px solid $secondary-color;
    transition: $fast-transition;
    line-height: 35px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    font-weight: bold;

    &:hover {
      background: $secondary-color;
    }
  }

  span {
    border-radius: 4px;
    background-color: $white-color;
    // box-shadow: $pan-shadow;

    a {
      &:hover {
        i {
          color: lighten($black-color, 45%);
        }
      }
    }

    i {
      color: $black-color;
    }
  }
}

.products {
  display: flex;
  text-align: center;
  margin: 14px 0;

  @include breakpoint(xs) {
    margin-bottom: 14px;
  }

  &_link {
    color: $black-color;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      h4 {
        color: $primary-color;
      }
    }
  }

  &_wrapper {
    border-radius: $border-radius;
    box-shadow: $pan-shadow;

    &__img {
      > img {
        border-radius: $border-radius;
      }
    }

    &__name {
      transition: $fast-transition;
      padding: 12px;
      background: $secondary-color;
      color: $white-color;
      text-shadow: $txt-shadow;
    }

    &__content {
      &__text {
        padding: 12px;
      }

      &__price {
        padding-bottom: 20px;
      }
    }
  }
}

.product {
  &_image {
    box-shadow: $pan-shadow;
    border-radius: $border-radius;

    img {
      border-radius: $border-radius;
    }
  }

  &_content {
    vertical-align: middle;
    max-width: 100%;

    @include breakpoint(sm) {
      padding-top: 15px;
      text-align: center;
    }

    p {
      padding: 15px 0;
      border-bottom: 1px solid lighten($black-color, 45%);

      &:last-of-type {
        border-bottom: none;
      }
    }

    &__price {
      color: #36e726;
      font-size: 1.2rem;
    }

    &__add {
      flex-wrap: nowrap;
      display: flex;

      @include breakpoint(xs) {
        justify-content: center;
      }

      input {
        border-radius: 5px 0 0 5px;
        outline: none;
        text-align: center;
        border: 1px solid $secondary-color;
      }

      button {
        border-radius: 0 5px 5px 0;
      }
    }
  }
}
